<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>{{title}}</title>
</head>
<body>
<div class="container-fluid main-menu">
        <div class="row">
            <div class="col-md-12">
                    {{>navbar}}
            </div>
        </div>
    
    </div>
  


    <div class="container main_header">
        <div class="row">
            <div class="col-md-6 main_header_right">

                    <figure>
                        <img src="images/about.jpg" alt="Suraj Chauan" title="Suraj Chauhan" class="img-fluid">
                    </figure>

            </div>
            <div class="col-md-6 main_header_left">
                <p>Welcome to the weather app</p>
                <h1>I Am A <span>Mern Stack Developer</span>, Youtuber And A Freelancer</h1>
                <a href="#"><button>About Me</button></a>
            </div>
            
        </div>
    </div>
</div>
</div>

    {{>footer}}
</body>
</html>