<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>{{title}}</title>
</head>
<body>
    <div class="container-fluid main-menu">
        <div class="row">
            <div class="col-md-12">
                    {{>navbar}}
            </div>
        </div>
    
    </div>
  


    {{> header}}

    {{>footer}}
</body>
</html>